*
!/.gitignore

!/.env
!/README.md

################################################################
# WORKFLOW
################################################################

!/scripts
!/scripts/*.sh
!/scripts/REQUIREMENTS_*

!/.github
!/.github/workflows
!/.github/workflows/*.yml

################################################################
# PROJECT FILES
################################################################

!/src
!/src/**/
!/src/setup
!/src/setup/VERSION
!/src/**/*.py

!/dist
!/dist/VERSION


################################################################
# AUXLIARY
################################################################

/logs

################################################################
# ARTEFACTS
################################################################

/**/__pycache__
/**/.DS_Store
/**/__archive__*
/**/sandbox

################################################################
# Git Keep
################################################################

!/**/.gitkeep
